@font-face {
    font-family: "League Gothic";
    src: url('/fonts/league-gothic/league-gothic.eot');
    src: local('\o/'), url('/fonts/league-gothic/league-gothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/league-gothic/league-gothic.woff2') format('woff2'),
        url('/fonts/league-gothic/league-gothic.woff') format('woff'),
        url('/fonts/league-gothic/league-gothic.ttf') format('truetype'),
        url('/fonts/league-gothic/league-gothic.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
