@import variables

#top-menu
    background-color: $orange
    color: white
    font-weight: bold

    .pure-menu-heading
        font-size: 1.3em
    
    .pure-menu-link
        color: white
        
        &:hover
            background-color: initial

#user-identity
    float: right

    height: 46px
    line-height: 46px

    margin-right: 20px

    .profile-pic
        padding: 3px 10px
        height: 100%
        border-radius: 50%
        margin-right: -20px

    .username
        display: block
        float: left

        .signout-btn
            display: none

        &:hover .signout-btn
            display: inline