@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/titillium-web/regular-webfont.woff2') format('woff2'),
         url('/fonts/titillium-web/regular-webfont.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/titillium-web/bold-webfont.woff2') format('woff2'),
         url('/fonts/titillium-web/bold-webfont.woff') format('woff');
    font-weight: 700;
}
